
.tableList1{ width: 25%; }
.tableList2{ width: 20%; }
.tableList3{ width: 16%; }
.tableList4{ width: 39%; }


.tableList02{ width: 30%; }
.tableList03{ width: 12%; }
.tableList04{ width: 42%; }
.tableList05{ width: 16%; }




