
.tableList1,
.tableList2{
    background-color:#fff;
}

.tableList1{ width: 40%; }
.tableList2{ width: 60%; }

.tableList01{ width: 15%; }
.tableList02{ width: 28%; }
.tableList03{ width: 22%; }
.tableList04{ width: 35%; }








